<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invite Email</title>
  </head>

  <body
    style="
      max-width: 500px;
      width: 100%;
      margin: auto;
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
    "
  >
    <div
      style="
        margin-top: 20px;
        padding: 20px;
        border-radius: 15px;
        background-color: #ffffff;
        box-shadow: 2px 4px 8px #6b728040;
      "
    >
      <div style="text-align: center">
        <a href="https://yourgpt.ai/">
          <img
            src="https://i.ibb.co/3smR9pX/Group.png"
            alt="Group"
            style="margin: 20px 0px"
        /></a>
      </div>

      <div
        style="
          background-color: rgba(217, 217, 217, 0.14);
          border-radius: 20px;
          text-align: center;
          max-width: 380px;
          width: 100%;
          margin: auto;
        "
      >
        <div style="padding-top: 40px">
          <img src="https://i.ibb.co/T42j6V7/Ellipse-1.png" alt="Ellipse-1" />
        </div>
        <div style="font-weight: 700; margin: 20px 10px">
          Hey there! <%= name %> from “abc”<br />
          has invited you
        </div>
        <div
          style="
            border: 1px solid rgba(82, 84, 241, 0.2);
            border-radius: 15px;
            padding: 10px 15px;
            max-width: 250px;
            width: 100%;
            margin: 20px auto;
            line-height: 15px;
          "
        >
          You’ve create a new project invite colleagues to on the project
        </div>

        <div style="padding-bottom: 40px">
          <button
            style="
              border: 2px solid #5353f2;
              padding: 10px;
              border-radius: 4px;
              color: white;
              padding: 8px 30px;
              margin-right: 10px;
              color: #5353f2;
            "
          >
            Cancel
          </button>
          <button
            style="
              background: linear-gradient(180deg, #5054f1 0%, #9c3cff 100%);
              padding: 10px;
              border: none;
              border-radius: 4px;
              color: white;
              padding: 10px 40px;
            "
          >
            Accept
          </button>
        </div>
      </div>

      <hr style="opacity: 0.3; margin-top: 40px" />

      <div style="display: flex">
        <div style="display: inline-block; margin-top: 20px; font-size: 14px">
          <div href="https://yourgpt.ai/privacy">Privacy policy</div>
          <div href="https://yourgpt.ai/terms">Term & condition</div>
        </div>
        <div style="margin-bottom: 30px; margin-top: 20px; margin-left: auto">
          <div style="display: inline-block; margin-right: 10px">
            <img
              src="https://i.ibb.co/SmCRnrW/Vector-1.png"
              alt="Vector-1"
              style="margin-top: 10px"
            />
          </div>
          <div style="display: inline-block; margin-right: 10px">
            <img
              src="https://i.ibb.co/3h1m7Gj/Vector-2.png"
              alt="Vector-2"
              style="margin-top: 10px"
            />
          </div>
          <div style="display: inline-block; margin-right: 10px">
            <img
              src="https://i.ibb.co/9nX9q45/Vector-3.png"
              alt="Vector-3"
              style="margin-top: 10px"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

