<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify Email</title>
  </head>
  <body
    style="
      max-width: 560px;
      width: 100%;
      margin: auto;
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
    "
  >
    <div
      style="
        margin-top: 20px;
        padding: 20px;
        font-size: 14px;
        border-radius: 15px;
        background-color: #ffffff;
        box-shadow: 2px 4px 8px #6b728040;
      "
    >
      <div>
        <a href="https://yourgpt.ai/">
          <img
            src="https://i.ibb.co/3smR9pX/Group.png"
            alt="Group"
            style="margin: 20px"
        /></a>
      </div>
      <div style="text-align: center">
        <img
          src="https://i.ibb.co/vQwLhJC/first-hand-gesture-1.png"
          alt="first-hand-gesture-1"
        />
      </div>
      <div style="font-weight: 700; font-size: 16px; text-align: center">
        Verify your email address
      </div>
      <div style="text-align: center; margin: 20px 0px">
        Thank you for signing up for YourGPT. We are excited to have you as a new user and would like to verify your email address to get you started.
      </div>

      <div style="text-align: center; padding-top: 10px; padding-bottom: 40px">
        <p>To verify your email address, please click on the button below:</p>
        <a href=<%= url %>><button
          style="
            background: linear-gradient(180deg, #5054f1 0%, #9c3cff 100%);
            padding: 10px;
            border: none;
            border-radius: 4px;
            color: white;
            padding: 13px 0px;
            width: 60%;
          "
        >
          Verify
        </button></a>
      </div>

      <div>
        If the button does not work, please copy and paste the following link into your web browser:
        <a href="<%= url %>"><%= url %></a>
      </div>

      <hr style="opacity: 0.3; margin: 30px 0px 0px 0px" />

      <!-- <div style="display: flex">
        <div style="display: inline-block; margin-top: 20px; font-size: 14px">
          <div><a href="https://yourgpt.ai/privacy">Privacy policy</a></div>
          <div><a href="https://yourgpt.ai/terms">Term & condition</a></div>
        </div>
        <div style="margin-bottom: 30px; margin-top: 20px; margin-left: auto">
          <div style="display: inline-block; margin-right: 10px">
            <img
              src="https://i.ibb.co/SmCRnrW/Vector-1.png"
              alt="Vector-1"
              style="margin-top: 10px"
            />
          </div>
          <div style="display: inline-block; margin-right: 10px">
            <img
              src="https://i.ibb.co/3h1m7Gj/Vector-2.png"
              alt="Vector-2"
              style="margin-top: 10px"
            />
          </div>
          <div style="display: inline-block; margin-right: 10px">
            <img
              src="https://i.ibb.co/9nX9q45/Vector-3.png"
              alt="Vector-3"
              style="margin-top: 10px"
            />
          </div>
        </div>
      </div> -->
    </div>
  </body>
</html>
